* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Oswald", sans-serif;
    background-image: url('./assets/thumb2-4k-geometric-shapes-3d-art-colorful-background-triangles.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

header {
    width: 100%;
    height: 150px;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    line-height: 5rem;
    color: white;
    -webkit-text-stroke: .1rem black;
}

.main-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3rem;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    color: white;
    height: 300px;
    margin: 10px;
}

.main-container .square-container {
    background-color: rgba(11, 48, 104, 0.5);
}

.main-container .triangle-container {
    background-color: rgba(11, 104, 14, 0.5);
}

.main-container .circle-container {
    background-color: rgba(104, 11, 11, 0.5);
}

.container img {
    height: 35px;
    margin-bottom: 5px;
}

.container h2 {
    font-size: 1.8rem;
    font-weight: 300;
}

.container input {
    border: none;
    height: 25px;
    border-radius: 5px;
    outline: none;
}

.square-container input{
    margin: 30px 0px;
}